@media (max-width: 992px) {
  .bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .start-box {
    width: 100% !important; }
  .btn-box {
    display: none !important; }
  .rwd-btn-box {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .result-box {
    height: auto !important; }
  .result-bg {
    width: 100% !important;
    border-radius: 0 !important; }
  .result-menu .nav {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important; }
  .result-menu .nav-btn {
    width: 50%; } }

@media (max-width: 568px) {
  .bg {
    background-image: none !important;
    height: auto !important; }
  .container {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .start-img {
    display: block !important;
    width: 100%;
    height: 320px;
    -o-object-fit: cover;
    object-fit: cover; }
  .start-box .card {
    text-align: center;
    background: #00000000 !important;
    -webkit-box-shadow: 0 0 0 !important;
    box-shadow: 0 0 0 !important; }
  .start-box p {
    line-height: 28px; }
  .card-body button {
    width: 100%; }
  .queNum {
    margin-bottom: 1em !important; }
    .queNum span {
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px); }
  .options-group {
    margin-bottom: .6em !important; }
  .result-menu .nav {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important; }
  .result-menu .nav-btn {
    width: 100%; }
  .result-content-bg {
    padding: 2em 1em !important; }
    .result-content-bg h3 {
      font-size: 28px !important;
      padding-bottom: 10px;
      text-align: center; }
    .result-content-bg h5 {
      line-height: 28px; }
  .que-content .card {
    padding: 0 !important; }
  .que-content .card-body {
    padding: 0 15px 15px 15px !important; } }

.bg {
  background-image: url("https://images.unsplash.com/photo-1592059417325-2eaf76b241c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");
  background-size: cover;
  background-position: center;
  height: 100vh; }

.btn {
  padding: 8px 20px; }

.start-box,
.questions-box,
.result-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%; }

.start-box {
  width: 50%;
  max-width: 100%; }
  .start-box .card {
    border: 0;
    background: #f5fffa6b;
    -webkit-box-shadow: 0 0 5px 3px #69636329;
    box-shadow: 0 0 5px 3px #69636329; }
    .start-box .card h1 {
      font-size: 32px; }

.start-img {
  display: none; }

.card-body {
  letter-spacing: 1px; }
  .card-body p {
    text-align: justify; }
  .card-body button {
    letter-spacing: 2px; }

.que-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .que-content h3 {
    text-align: center !important;
    -webkit-transform: translateY(-35px);
    -ms-transform: translateY(-35px);
    transform: translateY(-35px);
    font-weight: 600;
    letter-spacing: 2px; }
  .que-content .card {
    background: #f5fffa6b;
    border-top: 3px solid #3cafb5;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    padding: 0 1em; }
  .que-content .options-group {
    line-height: 30px;
    font-size: 18px;
    position: relative; }
  .que-content .btn-cyan {
    background-color: #3cafb5;
    border-color: #3cafb5;
    color: black; }
    .que-content .btn-cyan:hover {
      background-color: #19848a;
      border-color: #19848a; }

.queNum {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: #3cafb5;
  border-radius: 50%;
  -webkit-transform: translateY(-45px);
  -ms-transform: translateY(-45px);
  transform: translateY(-45px);
  letter-spacing: 2px;
  font-size: 20px; }

.btn-result {
  background-color: #fc8365;
  border-color: #fc8365;
  color: black; }
  .btn-result:hover {
    background-color: #de5836;
    border-color: #de5836; }

.form-check-label span {
  margin-left: 10px; }

.options-group input[type=radio] {
  display: none; }

.indicator {
  position: absolute;
  top: 5px;
  left: 0px;
  height: 20px;
  width: 20px;
  background: #3cb59973;
  border: 1px solid #3cafb5;
  border-radius: 50%; }
  .indicator::after {
    display: none; }

.options-group input:checked ~ .indicator {
  background: #2aa1c0;
  border: 0; }
  .options-group input:checked ~ .indicator::after {
    display: block; }

.indicator::after {
  content: '';
  position: absolute;
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%; }

.result-bg {
  width: 80%;
  background: #f5fffa6b;
  overflow: hidden;
  border-radius: 10px 0 0 10px; }

.result-menu {
  padding: 0;
  -webkit-box-shadow: 0 1px 5px #5d5454b8;
  box-shadow: 0 1px 5px #5d5454b8;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .result-menu .nav-btn {
    display: block;
    padding: 1rem; }
    .result-menu .nav-btn:hover {
      text-decoration: none; }

.rwd-btn-box {
  display: none; }

.btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.btn-box .btn, .rwd-btn-box .btn {
  padding: 10px 20px;
  letter-spacing: 2px;
  border-radius: 0; }

.result-content-bg {
  background: -webkit-linear-gradient(235deg, #d0561c54, #b9ddf8);
  background: -o-linear-gradient(235deg, #d0561c54, #b9ddf8);
  background: linear-gradient(-145deg, #d0561c54, #b9ddf8); }

.tab-content {
  letter-spacing: 2px; }
  .tab-content h3 {
    font-size: 24px;
    font-weight: bolder; }
  .tab-content .card-subtitle {
    font-size: 16px;
    color: #454e4e; }

.card-text h5 {
  font-size: 20px;
  font-weight: bolder; }

.card-text p {
  font-size: 16px; }

.color-0-btn {
  border-left: 5px solid !important;
  letter-spacing: 2px;
  font-weight: 600; }
  .color-0-btn.active {
    -webkit-box-shadow: 0 0 100px inset;
    box-shadow: 0 0 100px inset; }
    .color-0-btn.active span {
      color: #fff; }

.color-1-btn {
  border-left: 5px solid !important;
  letter-spacing: 2px;
  font-weight: 600; }
  .color-1-btn.active {
    -webkit-box-shadow: 0 0 100px inset;
    box-shadow: 0 0 100px inset; }
    .color-1-btn.active span {
      color: #fff; }

.color-2-btn {
  border-left: 5px solid !important;
  letter-spacing: 2px;
  font-weight: 600; }
  .color-2-btn.active {
    -webkit-box-shadow: 0 0 100px inset;
    box-shadow: 0 0 100px inset; }
    .color-2-btn.active span {
      color: #fff; }

.color-3-btn {
  border-left: 5px solid !important;
  letter-spacing: 2px;
  font-weight: 600; }
  .color-3-btn.active {
    -webkit-box-shadow: 0 0 100px inset;
    box-shadow: 0 0 100px inset; }
    .color-3-btn.active span {
      color: #fff; }

.color-4-btn {
  border-left: 5px solid !important;
  letter-spacing: 2px;
  font-weight: 600; }
  .color-4-btn.active {
    -webkit-box-shadow: 0 0 100px inset;
    box-shadow: 0 0 100px inset; }
    .color-4-btn.active span {
      color: #fff; }

.color-0-btn {
  color: #fc8365 !important; }
  .color-0-btn:hover {
    -webkit-box-shadow: 0 0 100px inset;
    box-shadow: 0 0 100px inset; }
    .color-0-btn:hover span {
      color: #fff; }

.color-1-btn {
  color: #3ab821 !important; }
  .color-1-btn:hover {
    -webkit-box-shadow: 0 0 100px inset;
    box-shadow: 0 0 100px inset; }
    .color-1-btn:hover span {
      color: #fff; }

.color-2-btn {
  color: #2685b1 !important; }
  .color-2-btn:hover {
    -webkit-box-shadow: 0 0 100px inset;
    box-shadow: 0 0 100px inset; }
    .color-2-btn:hover span {
      color: #fff; }

.color-3-btn {
  color: #562cb9 !important; }
  .color-3-btn:hover {
    -webkit-box-shadow: 0 0 100px inset;
    box-shadow: 0 0 100px inset; }
    .color-3-btn:hover span {
      color: #fff; }

.color-4-btn {
  color: #be3088 !important; }
  .color-4-btn:hover {
    -webkit-box-shadow: 0 0 100px inset;
    box-shadow: 0 0 100px inset; }
    .color-4-btn:hover span {
      color: #fff; }
